@using ARM.Dolar.Guru.BLL
@using ARM.Dolar.Guru.DTO

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header">
                    <h3 class="card-title">Cotizaciones</h3>
                </div>
                <div class="card-body">
                    <!--begin::App Content-->
                    <div class="app-content">
                        <!--begin::Container-->
                        <div class="container-fluid">
                            <!--begin::Row-->
                            <div class="row">
                                @foreach (var cotizacion in Cotizaciones)
                                {
                                    <div class="col-lg-3 col-6">
                                        <!--begin::Small Box Widget-->
                                        <div class="small-box @ObtenerColorClase(cotizacion.Casa)">
                                            <div class="inner">
                                                <h3>@cotizacion.Venta.ToString("C")</h3>
                                                <p>@cotizacion.Nombre</p>
                                            </div>
                                            <svg class="small-box-icon"
                                                 fill="currentColor"
                                                 viewBox="0 0 24 24"
                                                 xmlns="http://www.w3.org/2000/svg"
                                                 aria-hidden="true">
                                                <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
                                            </svg>
                                            <a href="#" class="small-box-footer link-light link-underline-opacity-0 link-underline-opacity-50-hover">
                                                @cotizacion.FechaActualizacion.ToShortDateString() @cotizacion.FechaActualizacion.ToLongTimeString() <i class="bi bi-clock"></i>
                                            </a>
                                        </div>
                                        <!--end::Small Box Widget-->
                                    </div>
                                }
                            </div>
                            <!--end::Row-->
                        </div>
                        <!--end::Container-->
                    </div>
                    <!--end::App Content-->
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@code {
    private List<DolarCotizacion> Cotizaciones = new List<DolarCotizacion>();

    protected override async Task OnInitializedAsync()
    {
        Cotizaciones = await DolarApiClient.ObtenerCotizacionesAsync("https://dolarapi.com/v1/dolares");
    }

    private string ObtenerColorClase(string casa)
    {
        return casa switch
        {
            "oficial" => "text-bg-primary",
            "blue" => "text-bg-danger",
            "bolsa" => "text-bg-info",
            "contadoconliqui" => "text-bg-warning",
            "mayorista" => "text-bg-secondary",
            "cripto" => "text-bg-dark",
            "tarjeta" => "text-bg-success",
            _ => "text-bg-light"
        };
    }
}